<style>
  select {
    display: block;
    margin: 16px auto;
  }

  .chart {
    margin: 0 auto;
    width: 80%;
  }

  #dual {
    display: flex;
    margin-top: 20px;
  }

  #left,
  #right {
    flex: 0 0 50%;
  }
</style>

<div>
  <select [(ngModel)]="selectedItem">
    <option *ngFor="let item of listItems" [ngValue]="item">{{
      item.value
    }}</option>
  </select>
</div>

<div class="chart">
  <app-line-chart [series]="series" type="positive"></app-line-chart>
  <div id="dual">
    <app-line-chart id="left" [series]="series" type="deaths"></app-line-chart>
    <app-line-chart id="right" [series]="series" type="active"></app-line-chart>
  </div>
</div>
