<style>
  select {
    display: block;
    margin: 16px auto;
  }

  .chart {
    box-sizing: border-box;
    padding: 20px;
  }

  .main {
    margin: 0 auto;
    width: 90%;
  }

  #left {
    float: left;
    width: 50%;
  }

  #right {
    float: right;
    width: 50%;
  }

  /* Below this width no longer show graphs side by side*/
  @media screen and (max-width: 1200px) {
    #left,
    #right {
      width: 100%;
    }
  }
</style>

<div>
  <select [(ngModel)]="selectedItem">
    <option *ngFor="let item of listItems" [ngValue]="item">{{
      item.value
    }}</option>
  </select>
</div>

<div class="chart">
  <app-line-chart id="main" [series]="series" type="positive"></app-line-chart>
  <div id="container">
    <app-line-chart
      id="left"
      class="chart"
      [series]="series"
      type="deaths"
    ></app-line-chart>
    <app-line-chart
      id="right"
      class="chart"
      [series]="series"
      type="active"
    ></app-line-chart>
  </div>
</div>
